<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Form | Dan Aleko</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles1.css') }}">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
<p>   
<header><h1>!!Well Hello There </h1><h2>It would seem you have attemted to contact me here are my details just fyi</h2></header>    
</p>
<br>
<p>
<div class="wrapper">   
    <h1>ph no:<i class='bx bxl-whatsapp' ></i></h1><h2>99256e56241</h2>
    <br>
    <h1>Email:<i class='bx bxs-envelope'></i></h1><h2>example@gmail</h2>
</div> 
</p>
<br>
><h1>About:</h1>
<br>
<div class="main">
<h2>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam quisquam ducimus aspernatur facere voluptatum facilis est dolorem at quae saepe vitae, alias veniam, consequuntur autem delectus eius, non eum asperiores?
Illum qui itaque veniam excepturi pariatur fuga deleniti optio, ullam adipisci delectus, totam hic porro voluptate ipsam ratione illo eveniet accusantium rem, tempora praesentium sunt aspernatur consectetur nulla. Inventore, ad!
Maiores reprehenderit aspernatur, nesciunt deleniti iure aliquam recusandae asperiores animi id nostrum placeat dolorum deserunt quaerat explicabo provident consequatur incidunt, impedit fugit tenetur ullam natus veniam. Aut quaerat quas iusto!
Repellendus commodi earum, ut vitae autem dolores non quod alias aliquam deleniti beatae quas enim laboriosam distinctio ratione minima. Eius reprehenderit earum et amet perspiciatis fugiat tempora rerum fuga nobis.
Distinctio veniam deleniti iure nemo vel soluta ratione autem ex temporibus minima, delectus quia dignissimos perferendis ipsam ea dolorem non animi voluptatem nisi libero eaque? Neque tenetur minus at enim!
Doloribus unde praesentium similique quod nisi soluta officia natus explicabo voluptate, dolorum nobis quam ipsa, corporis minus rem quaerat! Asperiores enim fugit beatae inventore atque quas facere ipsum repellendus a?
Assumenda odio atque quaerat velit dolorem distinctio, eos quis non maxime nihil, veritatis temporibus quasi molestiae voluptate odit fugit perferendis. Quia consequatur ut quas velit, ex repudiandae dolor ipsam excepturi.
Temporibus reprehenderit distinctio debitis dolorem doloribus iure, optio maiores maxime repellat itaque fugiat tempora odio labore beatae hic magni voluptate? Reprehenderit unde impedit voluptatem esse ullam cum omnis amet error.
Nulla expedita earum ex veniam! Ab doloremque molestiae at temporibus aut ut repellendus deserunt labore, a distinctio minus voluptas fugiat odio commodi, inventore facere. Illo commodi dolores quam eveniet harum.
Porro voluptatem unde iure aut animi cumque numquam perferendis, architecto, hic nobis consectetur fugit obcaecati aliquid ratione illo reiciendis tempore saepe expedita asperiores praesentium at labore eaque. Expedita, sapiente debitis.</h2>
</div>  
</body>
</html>