<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Form | Dan Aleko</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
  <div class="wrapper">
      
      <div class="slim">
        <h2>Hi! My name is</h2>
      </div>
      <div class="slim">
        <h1>M.Midhun Govind</h1>
      </div>
        <div class="collage">
            <h2>I am a student at YCET </h2>
            <h2>studing B.tech CSE</h2>   
        </div>
      <div>
        <ul class="list">
            <button type="button" onclick="location.href='about'" class="btn"><i class='bx bxs-envelope'></i></button>
            <button type="button" onclick="location.href='about'" class="btn"><i class='bx bxl-twitter' ></i></button>
            <button type="button" onclick="location.href='about'" class="btn"><i class='bx bxl-whatsapp' ></i></button>
            <button type="button" onclick="location.href='about'" class="btn"><i class='bx bxl-facebook-circle' ></i></button>
        </ul>
      </div>
  </div>
  
</body>
</html>